<mat-toolbar class="main">
    <span>Doctor Portal</span>
    <span class="example-spacer"></span>
    <div class="example">
    <button mat-raised-button  routerLink="/doctor">
        DOCTOR
    </button>
    <button mat-raised-button routerLink="/login">
        LOG OUT
    </button>
    </div>
  </mat-toolbar>

<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Dr. Rohit Sharma</mat-card-title>
      <mat-card-subtitle>Neuro surgeon</mat-card-subtitle>
    </mat-card-header>
    <mat-card-footer class="example-card-footer">
      <mat-chip-set aria-label="Dr Information">
        <mat-chip>Timming: 12pm-5pm </mat-chip>
        <mat-chip>Room No: 1</mat-chip>
      </mat-chip-set>
    </mat-card-footer>
  </mat-card>

  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Dr. Virat Kohli</mat-card-title>
      <mat-card-subtitle>Heart surgeon</mat-card-subtitle>
    </mat-card-header>
    <mat-card-footer class="example-card-footer">
      <mat-chip-set aria-label="Dr Information">
        <mat-chip>Timming: 12pm-5pm </mat-chip>
        <mat-chip>Room No: 2</mat-chip>
      </mat-chip-set>
    </mat-card-footer>
  </mat-card>

  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Dr. Sanjana</mat-card-title>
      <mat-card-subtitle>pediatrician</mat-card-subtitle>
    </mat-card-header>
    <mat-card-footer class="example-card-footer">
      <mat-chip-set aria-label="Dr Information">
        <mat-chip>Timming: 12pm-5pm </mat-chip>
        <mat-chip>Room No: 3</mat-chip>
      </mat-chip-set>
    </mat-card-footer>
  </mat-card>

  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Dr. Ranjana</mat-card-title>
      <mat-card-subtitle>Ortho</mat-card-subtitle>
    </mat-card-header>
    <mat-card-footer class="example-card-footer">
      <mat-chip-set aria-label="Dr Information">
        <mat-chip>Timming: 12pm-5pm </mat-chip>
        <mat-chip>Room No: 4</mat-chip>
      </mat-chip-set>
    </mat-card-footer>
  </mat-card>



